.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e2e8f0; /* Un color de fondo suave */
  padding: 20px;
}

.App h1 {
  color: #2c5282; /* Un azul oscuro */
  margin-bottom: 10px;
}

.App p {
  color: #4a5568; /* Un gris oscuro */
  font-size: 1.1em;
}