:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; /* Un fondo oscuro por defecto */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f2f5; /* Fondo más claro para el proyecto */
  color: #333; /* Color de texto base */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Estilos globales básicos */
* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}